<div class="app">
  <section class="auth">
    <div class="auth__container">
      <h1 class="auth__title">Вход</h1>
      <form class="auth__form" action="" method="get">
        <div class="auth__formItems">
          <div class="auth__formItem">
            <label for="login" class="auth__formItemLabel">Логин</label>
            {{> Input type="text" name="login" placeholder="Username" class="auth__formItemInput" id="login"}}
          </div>
          <div class="auth__formItem">
            <label for="password" class="auth__formItemLabel">Пароль</label>
            {{> Input type="password" name="password" placeholder="Password" class="auth__formItemInput" id="password"}}
          </div>
        </div>
        {{> Button text="Авторизоваться" class="auth__button navLink" data-page="chats"}}
        {{> Link text="Нет аккаунта?" href="/register" data-page="register" class="auth__link navLink"}}
      </form>
    </div>
  </section>
</div>
