<div class="app">
  <section class="auth">
    <div class="auth__container">
      <h1 class="auth__title">Вход</h1>
      <form class="auth__form" action="" method="get">
        <div class="auth__form-items">
          <div class="auth__form-item">
            <label for="username" class="auth__form-item-label">Логин</label>
            {{> Input type="text" name="username" placeholder="Username" class="auth__form-item-input"}}
          </div>
          <div class="auth__form-item">
            <label for="password" class="auth__form-item-label">Пароль</label>
            {{> Input type="password" name="password" placeholder="Password" class="auth__form-item-input"}}
          </div>
        </div>
        {{> Button text="Авторизоваться" class="auth__button navLink" data-page="chats"}}
        {{> Link text="Нет аккаунта?" href="/register" data-page="register" class="auth__link navLink"}}
      </form>
    </div>
  </section>
</div>
