:root {
  --color-white: #fff;
  --color-text: #1e1e1e;
  --color-text-light: #999;
  --color-accent-blue: #3369f3;
  --color-accent-sky: #e4edfd;
  --color-accent-grey: #efefef;
  --color-background: #fbfbfb;
  --color-background-light: #fbfbfb;
  --color-background-dark: rgb(0 0 0 / 50%);
  --color-alert: #ff2f2f;
}
