@import url('./colors.pcss');
@import url('../pages/authPage/auth.pcss');
@import url('../pages/chatsPage/chats.pcss');
@import url('../pages/errorPage/error.pcss');
@import url('../pages/notFoundPage/notFound.pcss');
@import url('../pages/userSettingsPage/userSettings.pcss');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-text);
  font-family: Inter, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
}
