@import "./colors.pcss";

@import "../pages/authPage/auth.pcss";
@import "../pages/chatsPage/chats.pcss";
@import "../pages/errorPage/error.pcss";
@import "../pages/notFoundPage/notFound.pcss";
@import "../pages/userSettingsPage/userSettings.pcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.23;
  color: var(--color-text);
}
