<div class="app">
  <section class="userSettings">
    <img src="" alt="" class="userSettings__avatar" />
    <span class="material-icons">
      face
    </span>
    <h1 class="userSettings__title">Брюс</h1>
    <div>

    </div>
  </section>
</div>