<main class="app">
  <section class="error">
    <span class="error__code">500</span>
    <span class="error__text">Мы уже фиксим</span>
    {{> Link href="/" text="Назад к чатам" class="error__link" data-page="chats"}}
  </section>
</main>
