<main class="app">
  <section class="notFound">
    <span class="notFound__code">404</span>
    <span class="notFound__text">Не туда попали</span>
    {{> Link href="/" text="Назад к чатам" class="notFound__link" data-page="chats"}}
  </section>
</main>