<div class="app">
  <div class="notFound">
    <p class="notFound__code">404</p>
    <p class="notFound__text">Не туда попали</p>
    <a class="notFound__link" href="/">Назад к чатам</a>
  </div>
</div>